

<mat-toolbar color="primary" class="navbar-toolbar">
	<div class="navbar-brand">
		<a mat-button routerLink="/" routerLinkActive="active" class="navbar-title"><span class="navbar-icon"><mat-icon>menu_book</mat-icon></span>CourseMart</a>
	</div>
	<span class="spacer"></span>
	<nav class="navbar-links">
	<nav class="navbar-menu">
		<ul class="navbar__menu">
			<li><a class="navbar__link" mat-button routerLink="/courses" routerLinkActive="active">Courses</a></li>
			<li><a class="navbar__link" mat-button routerLink="/contact" routerLinkActive="active">Contact</a></li>
			<li class="navbar__divider"></li>
			<li><a class="navbar__link" mat-button routerLink="/user" routerLinkActive="active">My Page</a></li>
		</ul>
	</nav>
	</nav>
</mat-toolbar>
